body * {
  background-color: rgb(94, 15, 15);
  border: 1px solid black;
  position: relative;
}

#container {
  background-color: white;
  max-width: 100%;
  min-width: 820px;
  overflow: auto;
}

span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: honeydew;
}

header {
  float: right;
  width: 100%;
  min-height: 100px;
  background-color: green;
}

.nav {
  float: left;
  height: 724px;
  width: 23%;
  background-color: brown
}

#navSection {
  clear: right;
  overflow: hidden;
  height: 200px;
  background-color: black;
}

.subNav {
  float: left;
  height: 200px;
  width: 49%;
  background-color: aqua
}

.about {
  float: right;
  height: 200px;
  width: 49%;
  background-color: yellow;
}

#content {
  clear: right;
  overflow: hidden;
  height: 400px;
  background-color: black;
}

.info {
  float: left;
  height: 400px;
  width: 24.5%;
  background-color: red;
}

footer {
  clear: right;
  /* clear: both; */
  height: 120px;
  width: 100%;
  background-color: goldenrod;
}