body * {
  background-color: grey;
  border: 1px solid black;
 }

 main{
   display: grid;
   grid-template-columns: 150px 1fr 150px;
   height: calc(100% - 140px);
 }
 
 header {
  background-color: lavenderblush
 }


 main > content {
   order: 2;
   /* display: grid;
   grid-template-rows: 50% 50%; */
 }

 main > aside{
   order: 3;
 }
 
 article {
  background-color: lightsalmon;
 }
 
 footer {
  clear: both;
  width: 100%;
  height: 115px;
  background-color: greenyellow;
 }
 